* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  color: black;
}

header,
footer,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
}

form {
  flex-direction: column;
  padding: 1.2rem;
  margin: -0.8rem;
}

label {
  display: block;
  margin: 0 0.6rem 0.2rem 0.6rem;
}

input {
  margin: 0 0.4rem 0.4rem 0.4rem;
  width: 22rem;
  height: 1.8rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  padding-left: 0.6rem;
}

button {
  align-self: center;
  margin: 0.4rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0.6rem;
  border: 1px solid black;
  background-color: rgb(32, 192, 32);
  cursor: pointer;
}

img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.2rem;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  display: block;
  margin: 0.4rem;
  width: 24rem;
}

.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}
